.header {
  font-family: 'Montserrat', sans-serif;

}

.description {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 10px;
  position: absolute;
  top: 50px;
  left: 250px;

}

.background {
  background-color: rgb(241, 238, 233);
  padding: 20px;
}

#name {
  text-align: center;
}

.vinipicture {}

.arraytitle,
.linkstyles {
  font-size: 20px;
}

.arrayability :nth-child(odd) {
  font-size: 15px;
  background-color: rgb(236, 153, 75);

}

.array2 {
  font-size: 15px;
}

#minhafoto {
  float: left;
  height: 180px;
  padding: 10px;
  background-color: rgb(21, 19, 60);
}

.imagecontainer {
  height: 200px;
  position: relative;
}